@plugin "daisyui/theme" {
    name: "vitalentra";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(96% 0.01 240);
    --color-base-300: oklch(92% 0.02 240);
    --color-base-content: oklch(25% 0.08 255);
    --color-primary: oklch(42% 0.15 250);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(50% 0.18 245);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(65% 0.2 245);
    --color-accent-content: oklch(25% 0.05 255);
    --color-neutral: oklch(25% 0.05 255);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(25% 0.05 255);
    --color-success: oklch(65% 0.24 150);
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: oklch(75% 0.2 80);
    --color-warning-content: oklch(98% 0.003 247.858);
    --color-error: oklch(60% 0.24 25);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
